.container {
    padding: 16px;
}
body{
    background-color: #F3F3F5;
}
h3{
    margin-right: 32px;
}
.card{
    background: white;
    padding: 32px;
    border-radius: 6px;
    margin-top: 16px;
}
.search{
    width: 280px;
}
.button-margin-right{
    margin-right: 16px;
}
.button-margin-left{
    margin-left: 16px;
}