$blue-color: #37474F;
$orange-color: #FF9800;
$white-color: #fff;
$background-color: #F3F3F5;


body{
    background-color: $background-color;
    color: $blue-color;
    .container {
        padding: 16px;
    }
    h3{
        margin-right: 32px;
    }
    .card{
        background: $white-color;
        padding: 32px;
        border-radius: 6px;
        margin-top: 16px;
    }
    .rs-btn-white {
        background:$white-color;
    }
    .search{
        width: 280px;
    }
    .button-margin-right{
        margin-right: 16px;
    }
    .button-margin-left{
        margin-left: 16px;
    }
    .button-margin-top{
        margin-top: 16px;
    }
    .rs-table-pagination-length-menu{
        display: none;
    }
    .avatar-margin{
        margin-right: 8px;
    }
    .avatar-color{
        background-color: #707070;
    }
    .rs-table-cell-content{
        color: $blue-color;
    }
    .main-container{
        display: flex;
        .main{
            width: 100%;
        }
    }
    
}

