
$blue-color: #37474F;
$orange-color: #FF9800;
$white-color: #fff;
$background-color: #F3F3F5;


body{
    background-color: $background-color;
    color: $blue-color;
    .container {
        padding: 16px;
        width: 100%;
    }
    textarea{
        height: 100%;
        resize: none;
        width: 100%;
    }
    .full-width {
        width: 100%;
    }
    h3{
        margin-right: 32px;
    }
    input {
        display: block;
        width: 100%;
        color: #575757;
        background-color: #fff;
        background-image: none;
        border: 1px solid #575757;
        -webkit-transition: border-color ease-in-out 0.3s;
        transition: border-color ease-in-out 0.3s;
        border-radius: 6px;
        padding: 7px 11px;
        font-size: 14px;
        line-height: 1.42857143;
    }
    input[type=text]:focus, input[type=password]:focus {
        border: 1px solid $orange-color;
        outline: none;
    }
    .error {
        color: red;
    }
    .card{
        background: $white-color;
        padding: 32px;
        border-radius: 6px;
        margin-top: 16px;
    }
    .orange-border {
        border: 2px solid $orange-color !important;
        border-radius: 5px;
        background: $white-color !important;
    }
    .gray-card {
        background: $background-color;
        padding: 16px;
        border-radius: 6px;
        margin-top: 16px;
        transition: all 0.2s ease-in;
        border: 2px solid #e5e5ea;
        cursor: pointer;
    }
    .rs-btn-white {
        background:$white-color;
    }
    .search{
        width: 280px;
    }
    .button-shadow {
        transition: 0.2s ease-in;
    }
    .button-shadow:hover {
        box-shadow: 5px 5px 5px rgb(226, 226, 226);
    }
    .button-margin-right{
        margin-right: 16px;
    }
    .button-margin-left{
        margin-left: 16px;
    }
    .button-margin-top{
        margin-top: 16px;
    }
    .button-margin-bot{
        margin-bottom: 16px;
    }
    .rs-table-pagination-length-menu{
        display: none;
    }
    .avatar-margin{
        margin-right: 8px;
    }
    .avatar-color{
        background-color: #707070;
    }
  .hi{
    height: 100px;
    }
    .full-height{
        height: 100%;
    }

    .rs-table-cell-content{
        color: $blue-color;
    }
    .main-container{
        display: flex;
    }
    .main{
        width: 100%;
    }
    .heading-small{
        font-size: 16px;
        font-weight:bold;
    }
    .heading-medium {
        font-size: 26px;
        font-weight: bold;
    }
    .heading-large {
        font-size: 36px;
        font-weight: bold;
    }
    .hide-input-box{
        padding: 4px;
        border: none;
        border-radius: 6px;
    }
    .hide-input-box:focus{
        outline: 1px solid #ffa000;
    }
    .hide-input-box::placeholder{
        color: #d6d6d6
    }
    .element{
        padding: 8px 32px;
        margin: 8px 0;
        transition: all 0.2 ease-out;
    }
    .element:hover{
        border-right: 24px solid #ffa000;
        padding-right: 8px;
        outline: 1px solid #ffa000;
    }
    .no-widget-message{
        width: 100%;
        background: red;
        height: 100%;
    }
    .position-center{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .Heading-Large{
        font-size: 36px;
        font-weight: bold;
    }
    .Heading-Medium{
        font-size: 26px;
        font-weight: bold;
    }
    .Heading-Small{
        font-size: 16px;
        font-weight: bold;
    }
    .Paragraph{

    }
    .bg-white{
        background: white !important;
    }
    .text-center{
        text-align: center;
    }
    .hidden{
        display: none;
    }
    .circle-max{
        max-width: 240px;
        display: block;
        margin: 0 auto;
    }
}

