.register-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .content {
        flex: 1 0 auto;
    }
    
    .center {
        display: block;
        margin: 0 auto;
    }
    
    .submit-button{
        width: 100%;
    }
    
    .bold {
        font-weight: bold;
    }
    .card-register{
        margin-top: 0 !important;
    }
    
    .divider-margin-top{
        margin-top: 8px;
    }
    
    .footer {
        flex-shrink: 0;
        background-color: #fff;
        text-align: center;
        padding: 10px;
    }
}
