$primary-color: #37474F;
$orange-color: #FF9800;
$white-color: #fff;

.sidenav-container {
    height: 100vh;
    color: $primary-color;
    background: $white-color;
    transition: 0.3s ease-in-out;
    .rs-sidenav-body {
        background: $white-color;
    }
    .rs-nav-item > .rs-nav-item-content {
        color: $primary-color;
    }
    .rs-nav-item-active > .rs-nav-item-content, .rs-nav-item-active a i {
        color: $orange-color;
    }
    .burger-icon {
        margin: 12px;
        text-align: right;
        svg {
            transition: 0.2s ease-in;
            cursor: pointer;
            &:hover {
                box-shadow: 5px 5px 5px rgb(226, 226, 226);
                border-radius: 5px;
            }
        }
    }
}

